%flex {
  display: flex;
}

.flex-row {
  @extend %flex;
  flex-direction: row;
}

.flex-column {
  @extend %flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

@each $size, $value in $spacers {
  .gap-#{$size} {
    gap: #{$value};
  }
}
