.pm-l-layout {
  @include themes($layout-themes) {
    display: grid;
    height: 100%;
    max-width: 100%;

    grid-template-areas:
      'header header'
      'main aside'
      'main aside';
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: auto 1fr auto;

    transition: background-color 0.2s ease-in-out 0s;

    &__header {
      grid-area: header;
      background-color: themed('background-color');
      transition: background-color 0.2s ease-in-out 0s;
    }

    &__main {
      grid-area: main;

      display: grid;
      grid-template-rows: 1fr auto;

      height: 100%;
      width: calc(100% + 7px);

      padding-top: var(--grid-margin);
    }

    &__scrollable-area {
      height: calc(100vh - var(--header-y));
    }

    &__aside {
      grid-area: aside;
    }

    &__footer {
      grid-row-start: 2;
      grid-row-end: 3;

      width: 100%;
      background-color: themed('background-color');
      transition: background-color 0.2s ease-in-out 0s;
    }
  }
}
