.pm-l-layout__header {
  @include themes($navbar-themes) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid themed('border-bottom-color');
    transition: $navbar-transitions;
    height: var(--header-y);

    &__logos {
      display: inherit;
      margin-right: 24px;
    }

    &__nav {
      margin-right: auto;

      &-link {
        color: themed('text');
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.3s ease 0s;
        margin-right: 24px;

        &.active {
          color: themed('text-active');
        }
      }
    }

    &__menu {
      display: none;

      @include breakpoint-to('sm') {
        display: flex;
      }
    }

    &__divider--circle {
      display: inline-block;

      height: 0.4rem;
      width: 0.4rem;
      border-radius: 50%;

      background-color: themed('divider-circle-color');
      transition: $navbar-transitions;
    }

    &__actions {
      display: flex;
      gap: 1.6rem;

      &-create-market {
        height: 100%;

        &:hover {
          background-color: $gray-500 !important;
        }
      }

      &-metamask {
        &__status {
          display: inline-flex;
          background-color: #8a96a8;
          padding: 1.2rem;
          border-radius: 50%;
          position: relative;
          margin-bottom: 3.2rem;

          & .pm-c-pill-normal--danger {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0;
            width: 2rem;
            height: 2rem;
            justify-content: center;
          }
        }
      }
    }
  }
}

.pm-l-navbar-dropdown-menu {
  @include themes($navbar-themes) {
    position: relative;
    display: none;

    @include breakpoint-to('lg') {
      display: inline-block;
    }

    &__content {
      display: none;
      position: absolute;
      z-index: 1;
      right: 0;

      padding: $navbar-dropdown-menu-padding-y $navbar-dropdown-menu-padding-x;
      background-color: themed('dropdown-menu-background-color');
      border: 0.1rem solid themed('dropdown-menu-border-color');
      border-radius: $navbar-dropdown-menu-border-radius;
    }

    &:hover {
      .pm-l-navbar-dropdown-menu__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        min-width: 29rem;
      }
    }
  }
}
