$divider-circle-height: 0.4rem !default;
$divider-circle-width: 0.4rem !default;

$divider-themes: (
  light: (
    background-color: rgba(#8293ae, 0.5)
  ),
  dark: (
    background-color: rgba(#637084, 0.5)
  )
) !default;

$divider-transitions: background-color 0.2s ease-out !default;
