$liquidity-form-themes: (
  light: (
    details-item-text-primary-color: #313a4c,
    details-item-text-secondary-color: #8193ae,
    separator-border-color: #e3e7f0
  ),
  dark: (
    details-item-text-primary-color: #f9fafb,
    details-item-text-secondary-color: #637084,
    separator-border-color: #252c3b
  )
) !default;
