$mini-table-themes: (
  light: (
    mini-table-item-title-color: var(--color-text-secondary),
    mini-table-item-value-color: #171b23,
    mini-table-item-separator-color: rgba(#c2cad6, 0.75)
  ),
  dark: (
    mini-table-item-title-color: var(--color-text-secondary),
    mini-table-item-value-color: #f9fafb,
    mini-table-item-separator-color: rgba(#637084, 0.75)
  )
) !default;
