$tabs-themes: (
  light: (
    tabs-item-background: transparent,
    tabs-item-background-hover: rgba(#3525e6, 0.16),
    tabs-item-background-active: #3525e6,
    tabs-item-color: #a2a5fc,
    tabs-item-color-hover: #a2a5fc,
    tabs-item-color-active: #e6e6ff
  ),
  dark: (
    tabs-item-background: transparent,
    tabs-item-background-hover: rgba(#e6e6ff, 0.2),
    tabs-item-background-active: #e6e6ff,
    tabs-item-color: #a2a5fc,
    tabs-item-color-hover: #a2a5fc,
    tabs-item-color-active: #3525e6
  )
) !default;

$tabs-item-transitions: background-color, color 0.3s ease 0s !default;
