.pm-c-badge {
  height: 24px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: $badge-gap;
  color: var(--color-text-primary);

  &__circle {
    height: $badge-circle-height;
    width: $badge-circle-width;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: currentColor;
    opacity: 0.4;
  }

  &__label {
    @extend .caption, .semibold;
    text-align: left;
    line-height: unset !important;
  }

  @include themes($badge-themes) {
    @each $color-variant, $color in themed('badge-normal-circle-colors') {
      &-normal--#{$color-variant} {
        @extend .pm-c-badge;
        @include badge-normal-color(
          map-get(themed('badge-normal-circle-colors'), $color-variant),
          themed('badge-label-color')
        );
      }
    }

    &-filled {
      @extend .pm-c-badge;

      padding-left: $badge-filled-padding-x;
      padding-right: $badge-filled-padding-x;
    }
  }
}
