.pm-c-beta-warning {
  @include themes($beta-warning-themes) {
    &__header {
      color: map-get(themed('action-colors'), 'warning');

      &--title {
        margin-left: 0.8rem;
        display: inline-block;
      }
    }
  }
}
