.pm-c-beta-warning {
  @include themes($beta-warning-themes) {
    &__header-title {
      color: map-get(themed('action-colors'), 'warning');

      &__adornment {
        margin-right: 0.8rem;
      }
    }
  }
  &__footer {
    flex-direction: column;
    align-items: center;
  }
}
