.pm-c-divider--circle {
  @include themes($divider-themes) {
    display: inline-block;
    align-self: center;

    height: $divider-circle-height;
    width: $divider-circle-width;
    margin-bottom: 0.2rem;
    border-radius: 50%;

    background-color: themed('background-color');
    transition: $divider-transitions;
  }
}
