.pm-c-market-list {
  flex: 1 1 auto;

  & > [data-virtuoso-scroller='true'] {
    & > [data-viewport-type='window'] {
      & > [data-test-id='virtuoso-item-list'] {
        display: inline-grid;
        width: inherit;
      }
    }
  }
}

.pm-c-market-list__empty-state,
.pm-p-achievements__empty {
  @include themes($market-list-themes) {
    padding: px-to-rem(50px) px-to-rem(20px);
    border: 0.1rem solid themed('state-info-border-color');
    border-radius: 0.4rem;

    &__body {
      @include flex-column(center, center, px-to-rem(12px));

      svg {
        fill: $primary-500;
        transition: $market-list-transitions;
      }

      &-description {
        color: themed('state-info-description-text-color');
        transition: $market-list-transitions;
      }
    }
  }
}

.pm-c-market-list__error {
  @extend .pm-c-market-list__empty-state;
  &__body {
    @extend .pm-c-market-list__empty-state__body;
  }

  &__actions {
    @extend .pm-c-market-list__empty-state__body;
    padding: px-to-rem(20px) px-to-rem(0px);
  }
}
