.pm-c-modal {
  @include themes($modal-themes) {
    width: 41rem;
    padding: $modal-padding-y $modal-padding-x;
    background-color: themed('background');
    border: $modal-border-width solid themed('border');
    border-radius: $modal-border-radius;
    box-shadow: $modal-shadow themed('shadow');
    transition: all 0.2s ease-out;

    &:focus {
      outline: none;
    }

    &__header {
      position: relative;

      &-hide {
        position: absolute;
        right: -12px;
        top: -12px;
        width: 40px;
        height: 40px !important;
        padding: 0px;
      }

      &-title {
        color: map-get(themed('text-colors'), 'primary');
      }
    }

    &__section {
      margin-top: 1.2rem;
      margin-bottom: $modal-padding-y;

      &-text {
        color: map-get(themed('text-colors'), 'secondary');
        margin-bottom: 1.6rem;
      }
    }

    &__footer {
      display: flex;
      gap: 1.6rem;
      width: 100%;
    }

    &__overlay {
      @include flex-column(center, center);
      position: fixed;
      z-index: 9999;

      inset: 0;
      padding: $modal-padding-y;

      background: themed('overlay-background-color');
    }
  }
}
