.prediction-card {
  @include flex-column;
  @include themes($prediction-card-themes) {
    background-color: themed('body-background-color');
    box-shadow: themed('shadow');
    border: 0.1rem solid themed('border-color');
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    transition: all 0.2s ease-in-out 0s;

    &--gutter {
      margin-bottom: var(--grid-margin);
    }

    &__body {
      padding: 16px var(--grid-margin);

      @include breakpoint-to('lg') {
        @include flex-row(space-between, center);
      }
    }

    &__footer {
      padding-right: var(--grid-margin);
      padding-left: var(--grid-margin);
      height: 44px;
      background-color: themed('footer-background-color');
      border-radius: 0rem 0rem 0.4rem 0.4rem;
      transition: all 0.2s ease-in-out 0s;
    }
  }
}
