.pm-c-searchbar {
  @include themes($searchbar-themes) {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    transition: $searchbar-transitions;

    background-color: transparent;

    border: 0.1rem solid themed('border-color');
    border-radius: $searchbar-border-radius;
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
    height: var(--height);

    &--sm {
      --padding-inline: var(--size-12);
      --height: 44px;
    }

    &--md {
      --padding-inline: var(--size-16);
      --height: 48px;
    }

    &__input {
      width: 100%;
      margin: 0rem;
      padding: 0rem;

      outline: none;
      border: none;
      box-sizing: border-box;

      background-color: unset;

      font-size: 1.5rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;

      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: themed('text-color');

      &::placeholder {
        color: themed('placeholder-color');
      }
    }

    &__icon {
      float: left;
      cursor: pointer;
      touch-action: manipulation;

      margin-right: 0.8rem;
      padding: 0rem;
      border: none;
      background-color: unset;

      svg {
        display: inline-block;
        vertical-align: middle;

        fill: themed('icon-fill');
      }
    }
  }
}
