.pm-c-table {
  table-layout: fixed;
  @include themes($table-themes) {
    width: 100%;
    border: 0.1rem solid themed('table-border-color');

    transition: $table-transitions;

    &__header {
      &-item {
        height: 4.2rem;

        padding: $table-header-item-padding-y $table-header-item-padding-x;
        padding-left: calc(#{$table-header-item-padding-x} + 1.1rem);
        background-color: themed('table-header-item-background-color');

        @extend .tiny, .bold;
        color: themed('table-header-item-color');
        vertical-align: middle;
        transition: $table-header-item-transitions;
        white-space: nowrap;

        svg {
          margin-bottom: 0.2rem;
          margin-right: 0.4rem;
          fill: themed('table-header-item-color');
        }
      }
    }

    &__row {
      background-color: themed('table-row-item-background-color');
      border-top: 0.1rem solid themed('table-border-color');

      &:hover {
        background-color: themed('table-row-item-background-color-hover');
      }

      transition: $table-row-item-transitions;

      &-item {
        padding: $table-row-item-padding-y $table-row-item-padding-x;

        @extend .caption, .semibold;
        color: themed('table-row-item-color');
        vertical-align: middle;
        white-space: normal;

        transition: $table-row-item-transitions;

        strong {
          color: themed('table-row-item-secondary-color');
        }

        svg {
          fill: themed('table-row-item-secondary-color');
        }
      }
    }

    &__item {
      &--left {
        text-align: left;
      }

      &--center {
        text-align: center;
      }

      &--right {
        text-align: right;
      }

      &--button {
        cursor: pointer;
        touch-action: manipulation;
      }

      &--with-arrow {
        padding-left: $table-header-item-padding-x;
        color: themed('table-header-item-color-hover');

        svg {
          margin-bottom: 0.2rem;
          margin-right: 0.4rem;
          fill: themed('table-header-item-color-hover');
        }
      }
    }

    &__loading,
    &__empty {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 100%;
    }

    &__loading {
      padding: 3rem 1rem;
    }

    &__empty {
      padding: 0rem;

      & > * {
        border-top: none;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
    }

    &__action-overlay {
      position: absolute;
      left: 0.1rem;
      z-index: 100;

      width: calc(100% - 0.9rem);
      height: 9.1rem;
      padding: 1.55rem;

      transition: $table-action-overlay-transition;

      &--top {
        @extend .pm-c-table__action-overlay;
        top: 4.25rem;
        background: map-get(
          themed('table-action-overlay-background-color'),
          'top'
        );
      }

      &--bottom {
        @extend .pm-c-table__action-overlay;
        bottom: 0.1rem;

        background: map-get(
          themed('table-action-overlay-background-color'),
          'bottom'
        );
      }
    }

    &__action-button {
      @extend .pm-c-button-ghost--primary, .pm-c-button--xs;
      padding: 0.8rem 0.9rem;
      border-radius: 10.8rem;

      svg {
        opacity: 0.5;
      }
    }
  }
}
