.pm-c-tabs {
  @include themes($tabs-themes) {
    @include flex-column;
    gap: 1.6rem;

    height: 100%;

    &__header {
      @include flex-row(flex-end, center);
      flex-wrap: wrap;

      gap: 1rem;

      @media (min-width: 1024px) {
        @include flex-row(space-between, center);
      }
    }

    &__filters {
      @include flex-row(flex-end, center, 1.6rem);

      .pm-c-divider--circle:last-of-type {
        display: none;
      }
    }

    &__list {
      gap: 12px;

      &--row {
        @extend .pm-c-tabs__list;
        @include flex-row(flex-start, center);
        flex-wrap: wrap;
      }

      &--column {
        @extend .pm-c-tabs__list;
        @include flex-column;
        flex-wrap: wrap;
      }
    }

    &__item {
      float: left;
      margin: 0rem;
      padding: 0rem;

      list-style-type: none;

      button {
        border: none;
        outline: none;
        padding: 0px 12px;
        height: 32px;
        border-radius: 4px;

        background-color: themed('tabs-item-background');
        color: themed('tabs-item-color');

        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;

        cursor: pointer;
        transition: color 0.3s ease 0s;

        &:hover {
          color: themed('tabs-item-color-hover');
          background-color: themed('tabs-item-background-hover');
        }
      }

      &.active {
        button {
          color: themed('tabs-item-color-active');
          background-color: themed('tabs-item-background-active');
        }
      }
    }

    &__content {
      @include flex-column;

      height: 100%;
      width: 100%;
    }
  }
}
