.pm-c-wallet-info {
  @include themes($navbar-themes) {
    @include flex-row;
    gap: 24px;
    align-items: center;

    &__profile {
      display: inherit;
      gap: 12px;
      align-items: center;

      &__ticker {
        color: var(--color-text-secondary);

        &_icon {
          margin-left: 4px;
        }
      }
    }
  }
}
