.pm-c-wallet-info {
  @include themes($navbar-themes) {
    @include flex-row;
    gap: 8px;
    align-items: center;

    &__profile {
      background-color: rgba(93, 85, 250, 0.1);
      border: 1px solid rgba(93, 85, 250, 0.5) !important;
    }

    &__currency {
      display: inherit;
      align-items: center;
      height: 44px;
      gap: 4px;
      padding-left: 12px;
      padding-right: 4px;
      border: 1px solid themed('border-bottom-color');
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: -0.014rem;
      color: themed('text-active');

      &__ticker {
        color: #b5d2fe;
        margin-right: 8px;
      }

      &__button {
        max-height: 32px;
      }

      &__transak {
        color: var(--color-text-primary) !important;

        &:disabled {
          color: var(--color-text-quaternary) !important;
        }
      }

      &__address {
        border: unset !important;
        background-color: rgba(92, 116, 153, 0.12);
      }

      &__buy {
        border: unset;
        background: linear-gradient(
          90deg,
          rgba(93, 85, 250, 0.5) 0%,
          rgba(177, 85, 250, 0.5) 100%
        );
      }
    }
  }
}
