.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);

  &Default {
    &Title {
      font-size: 2.4rem;
      line-height: 1.3;
      font-weight: 600;
      letter-spacing: -0.01em;
      color: #8888fc;
    }
  }

  &Modal {
    &Title {
      font-size: 2rem;
      line-height: 1.3;
      font-weight: 700;
      color: #f9fafb;
    }
  }
}

.terms {
  font-size: 1.4rem;
  line-height: 1.5;
  font-size: 500;
  word-break: break-all;
  color: #59749b;

  a {
    text-decoration: underline;

    &:hover {
      color: #4c6383;
    }
  }
}
