.back {
  &Root {
    text-align: center;
    padding-right: var(--grid-margin);
    padding-top: var(--grid-margin);
    padding-left: var(--grid-margin);
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--color-background-primary) 100%
    );
    position: sticky;
    width: 100%;
    z-index: 1;
  }
}
