.horizontal {
  display: flex;
  gap: 6px;
  overflow-y: hidden;
  overflow-x: auto;
  margin-left: calc(-1 * var(--grid-margin));
  width: calc(100% + var(--grid-margin) * 2);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &Item {
    min-width: calc(50vw - var(--grid-margin) - 4px);
    display: inline-flex;
  }
}

.wrappedToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-8);

  width: 100%;
  margin-top: var(--size-24);
  margin-bottom: var(--size-8);

  &Title {
    color: var(--color-text-1);
  }
}
