.pm-c-profile-achievement {
  @include flex-row(flex-start, center, px-to-rem(24px));
  padding: px-to-rem(24px);
  margin-right: px-to-rem(12px);
  width: 100%;

  &__description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }

  &__stats {
    @include flex-row(space-between, center, px-to-rem(16px));
    flex-wrap: wrap;
  }
}
