.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding-top: calc(#{var(--grid-margin)} / 2);
  padding-bottom: calc(#{var(--grid-margin)} / 2);
  color: rgb(var(--channel) / 1);
  background-color: rgb(var(--channel) / var(--alpha));

  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: unset;
  }
}

.container {
  display: inherit;
}

.actions {
  margin-left: auto;
}

.type {
  &Warning {
    --channel: 240 180 41;
  }
  &Info {
    --channel: 93 85 250;
  }
}

.variant {
  &Subtle {
    --alpha: 0.16;
  }
}
