.root {
  width: 100%;
}

.gutters {
  padding: var(--grid-margin);

  &X {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }
}

.size {
  margin-left: auto;
  margin-right: auto;

  &Sm {
    max-width: 768px;
  }

  &Md {
    max-width: 1024px;
  }
}
