.rangePicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-8);

  &Group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-8);
  }
}
