.root {
}

.edge {
  &Start {
    margin-right: var(--spacing-xs);
    margin-left: calc(var(--spacing-xs) * -1);
  }
  &End {
    margin-right: calc(var(--spacing-xs) * -1);
    margin-left: var(--spacing-xs);
  }
}
