.root {
}

.radius {
  &Sm {
    border-radius: var(--spacing-x2s);
  }

  &Md {
    border-radius: var(--spacing-sm);
  }

  &Lg {
    border-radius: 50%;
  }
}

.size {
  &Sm {
    width: var(--spacing-xl);
    height: var(--spacing-xl);
  }

  &Md {
    width: var(--spacing-x2l);
    height: var(--spacing-x2l);
  }

  &Lg {
    width: var(--spacing-x3l);
    height: var(--spacing-x3l);
  }
}
