@keyframes animation {
  0% {
    background-color: var(--color-text-sextary);
  }
  100% {
    background-color: var(--color-text-quinary);
  }
}

.root {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0px;
    animation: animation 600ms linear infinite alternate;
  }
}
