.hero {
  height: 224px;
  display: flex;
  flex-direction: column;

  &Info {
    display: inherit;
    flex: 1 0 auto;
    gap: var(--size-24);
    align-items: center;

    &Actions {
      display: flex;
      gap: var(--size-12);
      margin-left: auto;
      margin-top: var(--size-24);
      align-self: flex-start;
    }
  }

  &Stats {
    height: var(--size-48);
    background-color: var(--color-background-quaternary);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }
}

.body {
  display: flex;
  flex: 1 0 auto;

  &Content {
    background-color: var(--color-surface-primary);
  }
}

.section {
  margin-top: 24px;

  @media (min-width: 1024px) {
    margin-top: 48px;
  }

  &Trade {
    border-top: 1px solid var(--color-border);
  }
}

.title {
  margin-bottom: var(--grid-margin);
  display: flex;
  align-items: center;

  &Content {
    padding-right: 12px;
  }

  &:after {
    content: '';
    border: 0px solid var(--color-border);
    border-bottom-width: thin;
    width: 100%;
    position: relative;
  }
}

.stats {
  display: flex;
  flex-flow: row wrap;

  &Item {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;

    &Gutter {
      padding-bottom: var(--grid-margin);
    }

    &Primary {
      color: var(--color-text-primary);
    }
  }
}

.sidebar {
  &Dialog {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--color-surface-primary);
    position: absolute;

    &Header {
      display: flex;
      height: 56px;
      align-items: center;
      border-bottom: 1px solid var(--color-border);

      &Title {
        color: var(--color-text-primary);
        margin-right: auto;
      }
    }
  }
}
