.hero {
  height: 224px;
  display: flex;
  flex-direction: column;

  &Info {
    display: inherit;
    flex: 1 0 auto;
    gap: var(--size-24);
    align-items: center;

    &Actions {
      display: flex;
      gap: var(--size-16);
      margin-left: auto;
      margin-top: var(--size-24);
      align-self: flex-start;
    }
  }

  &Stats {
    height: var(--size-48);
    background-color: var(--color-background-tertiary);
    border-top: 1px solid var(--color-border);
  }
}

.tabs {
  margin-bottom: var(--grid-margin);
}
