.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  min-width: 44px;
  padding: 0px 12px;
  border-radius: 4px;
  background-color: transparent;
  border: 0px none transparent;
  cursor: pointer;
  transition: color, border 300ms ease;

  &:focus {
    outline: none;
  }
}

.text {
  color: rgb(255 255 255 / 0.4);

  &:hover {
    color: rgb(255 255 255 / 0.6);
  }

  &:disabled {
    color: rgb(255 255 255 / 0.2);
  }

  &:focus {
    color: rgb(255 255 255 / 1);
  }
}

.outlined {
  border: 1px solid currentColor;
}
