.container {
  text-align: center;

  &Button {
    margin-top: var(--size-16);
  }
}

.summary {
  &Avatar {
    flex: 1 0 auto;
  }

  &Title {
    margin-bottom: 8px;
  }

  &Group {
    display: flex;
    align-items: center;
    gap: var(--size-12);
  }
}
