.pm-p-create-market {
  @include themes($create-market-page-themes) {
    position: relative;

    &__header-title {
      margin-bottom: 2rem;
      font-size: 2.6rem;
      color: themed('create-market-page-title-color');
    }

    &__notification-overlay {
      @include flex-column(flex-start, center);
      position: absolute;
      z-index: 100;
      inset: 0;

      padding-top: 7.5rem;
      background: themed('notification-overlay-background-color');
    }
  }
}

.pm-p-create-market-buy-polk {
  @include themes($create-market-page-buy-polk-themes) {
    @include flex-column(center, center, 1.7rem);

    width: 34.8rem;
    height: fit-content;

    padding: $create-market-page-buy-polk-padding-y
      $create-market-page-buy-polk-padding-x;

    background-color: themed('background-color');
    border: solid $create-market-page-buy-polk-border-width
      themed('border-color');
    border-radius: $create-market-page-buy-polk-border-radius;
    box-shadow: themed('shadow');

    &__group--column {
      @include flex-column(center, center, 0.4rem);
    }

    &__icon {
      fill: themed('details-color');
    }

    &__title {
      color: map-get(themed('text-colors'), 'secondary');
      text-align: center;
    }

    &__amount {
      color: map-get(themed('text-colors'), 'primary');
    }
  }
}
