.pm-p-home {
  margin-top: var(--grid-margin);
  gap: var(--grid-margin);
  display: flex;
  flex-direction: column;

  height: 100%;

  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;

    &__content {
      display: block;
      width: 100%;
    }

    &__breadcrumb {
      display: flex;
      gap: 8px;
      margin-bottom: 12px;
    }

    &__heading {
      margin-bottom: 16px;
    }
  }

  &__navigation {
    display: flex;

    &__actions:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__filter {
    &-list {
      width: 304px;
      height: 100%;
      overflow-y: auto;
      border-right: 1px solid var(--color-border);
      background-color: var(--color-surface);

      &-sublist {
        background-color: var(--color-background-primary);

        &-inputs {
          display: flex;
          gap: 12px;
          align-items: center;
          margin-bottom: 12px;
          margin-right: -12px;
          margin-left: -12px;

          &-input {
            width: 100%;
          }
        }
      }
    }
  }

  &__mobile-info {
    @include flex-column(center, center);
    margin-top: px-to-rem(16px);

    @include breakpoint-to('md') {
      display: none;
    }
  }

  &__categories {
    display: none;

    @include breakpoint-to('sm') {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(px-to-rem(100px), 1fr));
      gap: px-to-rem(20px);
    }
  }
}
