.pm-p-leaderboard {
  @include flex-column($justify: flex-start, $align: flex-start, $gap: 5);
  width: 100%;
}

.pm-c-leaderboard-table {
  &__wallet {
    @include flex-row($gap: 4);

    svg {
      flex-shrink: 0;
    }
  }

  &__volume,
  &__liquidity {
    white-space: nowrap;
  }

  &__achievements-list {
    position: relative;
  }

  &__achievement {
    position: absolute;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    border: solid 0.3rem #171b23;

    top: 50%;
    transform: translateY(-50%);

    $index: 1 2 3;
    $z-index: 3 2 1;
    $space: 0rem 2rem 4rem;

    @each $i, $z, $s in zip($index, $z-index, $space) {
      &:nth-child(#{$i}) {
        z-index: $z;
        right: $s;
      }
    }
  }

  &__rank {
    @include flex-row($justify: flex-end, $gap: 3);

    svg {
      flex-shrink: 0;
    }
  }
}

.pm-c-leaderboard-stats {
  @include flex-column($gap: 5);
  padding: map-get($spacers, 5);
  min-width: 29rem;
}

.pm-c-leaderboard-top-wallets {
  &__wallet {
    @include flex-row($gap: 3);

    svg {
      flex-shrink: 0;
    }
  }
}
