.pm-p-profile {
  @include flex-column($gap: px-to-rem(16px));
}

.pm-p-profile-summary {
  @include flex-column(flex-start, flex-start, px-to-rem(32px));
  width: 100%;

  &__address-group {
    @include flex-row(flex-start, center);
    min-width: 0;
    width: 100%;
  }

  &__address {
    font-size: min(3.8vw, 2.1rem);
  }

  &__explorer-icon {
    margin-left: px-to-rem(6px);
    fill: var(--color-text-3);

    transition: 0.2s fill ease-in-out;

    &:hover {
      fill: var(--color-text-1);
    }
  }

  @media (min-width: 1024px) {
    @include flex-row(space-between, flex-start, px-to-rem(32px));
  }

  &__details {
    @include flex-column(flex-start, flex-start, px-to-rem(8px));
    width: 100%;
  }

  &__history {
    @include flex-column(flex-start, flex-start, px-to-rem(8px));

    .pm-c-divider--circle {
      display: none;
    }

    @include breakpoint-to('md') {
      @include flex-row(flex-start, center, px-to-rem(8px));

      .pm-c-divider--circle {
        display: inline-block;
      }
    }

    &-accent {
      color: var(--color-text-primary);
    }
  }

  &__stats {
    display: grid;
    gap: px-to-rem(16px);
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  &__stat {
    @include flex-column(flex-start, flex-start, px-to-rem(4px));
    width: 100%;
    padding: px-to-rem(16px);
    border-radius: $border-radius--small;
  }
}

.pm-p-profile-your-stats {
  @include flex-column(flex-start, flex-start, px-to-rem(24px));

  @include breakpoint-to('lg') {
    @include flex-row(center, flex-start, px-to-rem(24px));
  }
}

.pm-p-profile-lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: px-to-rem(24px);

  @include breakpoint-to('lg') {
    grid-template-columns: repeat(2, minmax(px-to-rem(200px), 1fr));
  }
}
