.root {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  padding: 0px;
  width: var(--width, 100%);

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  transition: background-color, border-color 200ms ease-out;

  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.size {
  @media (min-width: 1024px) {
    &Sm {
      --width: 168px;
    }
    &Md {
      min-width: 168px;
    }
  }
}

.backdrop {
  box-shadow: 0px 0px 20px rgb(var(--outcome-color) / var(--shadow-alpha, 0));
  border-color: rgb(var(--border-color) / var(--border-alpha));
  background: linear-gradient(
      0deg,
      rgb(var(--background-color) / var(--alpha-quaternary)) 0%,
      rgb(var(--background-color) / var(--alpha-quinary)) 100%
    ),
    linear-gradient(
      0deg,
      var(--color-background-secondary) 0%,
      var(--color-background-tertiary) 100%
    ),
    var(--outcome-image), rgb(var(--background-color));
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &Default {
    --background-color: var(--color-background--rgb);
    --border-color: var(--color-text--rgb);
    --border-alpha: 0.1;

    &:hover {
      --border-alpha: 0.4;
    }
    &:disabled {
      --border-alpha: 0.16;
    }
  }
  &Success {
    --background-color: 39 171 131;
    --border-color: 39 171 131;
    --border-alpha: 0.6;
  }
  &Active {
    --background-color: var(--outcome-color);
    --shadow-alpha: 0.6;
    border-color: rgb(var(--outcome-color) / 0.4);
  }
}

.variant {
  &Dashed {
    border-style: dashed;
  }
}

.content {
  padding-left: var(--size-16);
  padding-right: var(--size-16);
  margin-bottom: 2px;
  height: 68px;
  display: flex;
  align-items: center;
  gap: var(--size-8);
  text-align: initial;

  &Container {
    display: grid;
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.item {
  &Start,
  &End {
    display: inherit;
  }

  &End {
    margin-left: auto;
  }
}

.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}
