.root {
  position: relative;
  flex-flow: column nowrap;
  padding: 0px;
  align-items: stretch;
  overflow-x: hidden;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  cursor: pointer;
  width: 100%;

  @media (min-width: 1024px) {
    min-width: 168px;
  }
}

.backdrop {
  background: linear-gradient(
      0deg,
      var(--color-background-tertiary) 100%,
      var(--color-background-tertiary) 0%
    ),
    var(--outcome-image), var(--color-background-tertiary);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.variant {
  &Dashed {
    border-style: dashed;
  }
}

.gutter {
  &Bottom {
    margin-bottom: var(--size-12);
  }
}

.content {
  padding: var(--size-16);
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.line {
  position: absolute;
  bottom: 0;
}
