.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-36);
}

.groupRow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2.4rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
