.root {
  user-select: none;
  vertical-align: middle;
  display: inherit;
  fill: currentColor;
}

.sm {
  width: var(--size-12pxInRem);
  height: var(--size-12pxInRem);
}

.md {
  width: var(--size-16pxInRem);
  height: var(--size-16pxInRem);
}

.lg {
  width: var(--size-24pxInRem);
  height: var(--size-24pxInRem);
}

.left {
  transform: rotate(0deg);
}

.up {
  transform: rotate(90deg);
}

.right {
  transform: rotate(180deg);
}

.down {
  transform: rotate(270deg);
}
