.root {
  overflow-x: hidden;
  overflow-y: hidden;
}

.element {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  object-fit: cover;
  transition: opacity 600ms ease;

  &Hide {
    opacity: 0;
  }
}

.skeleton {
  position: absolute;
  top: 0;
  height: 100%;
}
