.root {
  overflow-x: hidden;
  overflow-y: hidden;
}

.radius {
  &Sm {
    border-radius: var(--size-8);
  }
  &Md {
    border-radius: var(--size-16);
  }
  &Lg {
    border-radius: 50%;
  }
  &Full {
    border-radius: 100%;
  }
}

.size {
  &X2s {
    width: var(--size-24);
    height: var(--size-24);
  }

  &Sm {
    width: var(--size-48);
    height: var(--size-48);
  }

  &Md {
    width: var(--size-64);
    height: var(--size-64);
  }

  &Lg {
    width: var(--size-96);
    height: var(--size-96);
  }
}

.image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  object-fit: cover;
  transition: opacity 600ms ease;

  &Hide {
    opacity: 0;
  }
}
