.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-36);
}

.action {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: inherit;
}

.header {
  display: grid;

  grid-template-columns: 7fr 1.5fr 2fr;
  gap: var(--size-16);
  align-items: flex-start;
  margin-bottom: 2px;
}

.distribuitionTypeSelector {
  color: var(--color-main-primary);

  &:hover {
    color: #5d55fa;
  }
}

.answerTypeSelector {
  width: fit-content;

  &Button {
    padding: var(--size-12) var(--size-32) !important;
    font-size: 1.5rem !important;
    line-height: 1 !important;
    font-weight: 600 !important;

    @media (max-width: 576px) {
      padding: var(--size-8) var(--size-16) !important;
      font-size: 1.2rem !important;
    }
  }
}

.outcomes {
  display: grid;

  grid-template-columns: 7fr 3fr auto;
  gap: var(--size-16);
  align-items: baseline;
  margin-bottom: var(--size-16);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  margin: var(--size-8) 0px;
}
