.root {
  position: fixed;
  z-index: 9999;
  inset: 0;
}

.backdrop {
  background: linear-gradient(
    180deg,
    var(--color-background-secondary) 0%,
    var(--color-background-tertiary) 100%
  );
}

.dialog {
  &:focus {
    outline: none;
  }
}

.flex {
  display: flex;
}

.center {
  margin: auto;
}

.sm {
  width: 400px;
}

.md {
  width: 800px;
}

.lg {
  width: 1200px;
}
