.root {
  display: flex;
  position: fixed;
  z-index: 9999;
  inset: 0;
  padding: 3.2rem;
  background: var(--Modal-root--background);
}

.dialog {
  // todo: add will-change property
  position: relative;
  margin: auto;
  transition: all 0.2s ease-out; // todo: replace 'all' for the actual animated properties
  width: 41rem;
  padding: 3.2rem;
  background-color: var(--Modal-dialog--background-color);
  border: 0.1rem solid var(--Modal-dialog--border-color);
  border-radius: 0.4rem;
  box-shadow: 0rem 0.4rem 2.4rem var(--Modal-dialog--box-shadow-color);

  &:focus {
    outline: none;
  }
}

.hide {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px !important;
  padding: 0px !important;
}
