.root {
  @media (min-width: 1024px) {
    width: unset !important;
    margin-left: unset;
  }

  &Icon {
    margin-left: auto;
  }

  &Responsive {
    width: 44px;
  }
}
.size {
  &Xs {
    padding: 0px 8px !important;
    height: 26px !important;
  }
}
.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid var(--color-border);

  &Title {
    margin-right: auto;
    color: var(--color-text-primary);
  }
}
.list {
  &Item {
    &Button {
      &Icon {
        margin-right: 8px;
        margin-left: -4px;
      }
    }

    &Selected {
      background-color: var(--color-text-quinary);
    }
  }
}
