.container {
  align-items: center;
  transition: background-color 200ms ease-in-out;
  background-color: var(--color-background-primary);
  min-height: var(--header-y);
}
.root {
  border-bottom: 1px solid #252c3b;
  display: flex;
  grid-area: header;
}
