.root {
  display: inherit;
  flex-grow: 1;
  align-items: center;
}
.list {
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    display: inherit;
    align-items: center;
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}
.item {
  margin-bottom: 12px;
  @media (min-width: 1440px) {
    margin-right: 24px;
    margin-bottom: unset;
  }
}
.link {
  display: flex;
  height: 48px;
  align-items: center;
  color: var(--color-neutral-primary);
  font-size: 2rem;
  letter-spacing: 0.08em;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  @media (min-width: 1440px) {
    font-size: 1.3rem;
  }
}
.active {
  color: var(--color-text-primary);
}
.logos {
  display: inherit;
  margin-right: auto;
  @media (min-width: 1024px) {
    margin-left: 24px;
  }
  @media (min-width: 1440px) {
    margin-right: 24px;
    margin-left: unset;
  }
}
.dialog {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  height: var(--header-y);
}
.hide {
  float: right;
}
.footer {
  margin-top: auto;
}
.title {
  text-align: center;
  margin-bottom: 16px;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.social {
  width: 40px;
  height: 40px;
  background-color: rgba(181, 210, 254, 0.12);
  border-radius: 4px;
  display: flex;
  color: var(--color-neutral-tertiary);
}
.icon {
  margin: auto;
}
.createMarket {
  margin-top: 24px;
}
.network {
  margin-left: auto;
}
