.container {
  align-items: center;
  transition: background-color 200ms ease-in-out;
  background-color: var(--color-background-primary);
  min-height: var(--header-y);
}
.root {
  border-bottom: 1px solid #252c3b;
  display: flex;
  grid-area: header;
}
.nav {
  display: flex;
  flex-grow: 1;
}
.list {
  @media (min-width: 1024px) {
    display: inherit;
    align-items: center;
  }
}
.item {
  margin-bottom: 12px;
  @media (min-width: 1024px) {
    margin-right: 24px;
    margin-bottom: initial;
  }
}
.link {
  display: flex;
  height: 48px;
  align-items: center;
  color: #637084;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}
.active {
  color: #f9fafb;
}
.logos {
  display: inherit;
  margin-right: auto;
  @media (min-width: 1024px) {
    margin-right: 24px;
  }
}
.actions {
  display: flex;
  gap: 1.6rem;
  border-top: 1px solid #252c3b;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  margin-left: auto;
  @media (min-width: 1024px) {
    border-top: initial;
    position: initial;
    width: initial;
  }
}
.widget {
  position: absolute;
  right: 24px;
  top: 68px;
}
.modal {
  background-color: rgba(15, 17, 25, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  @supports (
    (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))
  ) {
    background-color: rgba(15, 17, 25, 0.8);
  }
}
.dialog {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  height: var(--header-y);
}
.hide {
  float: right;
}
.footer {
  margin-top: auto;
}
.title {
  text-align: center;
  margin-bottom: 16px;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.social {
  width: 40px;
  height: 40px;
  background-color: rgba(181, 210, 254, 0.12);
  border-radius: 4px;
  display: flex;
}
.icon {
  margin: auto;
}
