.root {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-border);
  position: fixed;
  bottom: 0px;
  left: 0px;
  transition: background-color 200ms ease-in-out;
  background-color: var(--color-surface-primary);
  z-index: 1;

  @media (min-width: 1024px) {
    background-color: unset;
    transition: unset;
    margin-left: auto;
    border-top: unset;
    position: unset;
    width: unset;
  }
}
.gutterActions {
  gap: 12px;
}
.reverse {
  @media (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}
.actions {
  &Group {
    display: inherit;
    gap: inherit;
  }
}
.high {
  z-index: 1300;
}
.network {
  margin-left: auto;
}
