.root {
  display: flex;
  gap: 16px;
  border-top: 1px solid #252c3b;
  position: fixed;
  width: 100%;
  z-index: 1300;
  bottom: 0px;
  left: 0px;
  @media (min-width: 1024px) {
    margin-left: auto;
    border-top: unset;
    position: unset;
    width: unset;
    z-index: unset;
  }
}
.settings {
  margin-left: auto;
}
.dialog {
  border-radius: 16px;
  background-color: var(--color-surface);
  position: absolute;
  @media (min-width: 1024px) {
    max-width: 240px;
    right: 24px;
    top: 68px;
  }
}
.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #252c3b;
}
.title {
  margin-right: auto;
}
.list {
  padding-bottom: var(--header-y);
  @media (min-width: 1024px) {
    padding-bottom: unset;
  }
}
