.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-36);
  margin-bottom: var(--size-64);
}

.append {
  display: flex;
  flex-direction: column;
  padding: var(--size-32);
  gap: var(--size-32);

  margin: calc(var(--size-32) * -1);
  background-color: var(--color-create-market-preview-background);
  border-radius: 0 0 var(--size-8) var(--size-8);

  &Title {
    font-size: 1.8rem;
    line-height: 1.45;
    font-weight: 500;
    color: #65d6ad;
  }
}

.networkSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-20);

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.fee {
  @media (max-width: 576px) {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: var(--size-8) !important;
  }
}

.alert {
  display: flex;
  flex-direction: row;
  gap: var(--size-16);

  padding: var(--size-20);
  border-radius: var(--size-8);

  background-color: var(--color-alert-background--warning);

  &Body {
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
  }

  &Icon {
    flex-shrink: 0;
    fill: #f7c948;
  }

  &Title {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    color: #f7c948;
  }

  &Description {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--color-text-primary);
  }

  &Action {
    @extend .alertTitle;

    &:hover {
      color: #fbbf24;
    }
  }
}
