.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding-left: var(--padding-inline);
  padding-right: var(--padding-inline);
  height: var(--height);
  border-radius: var(--size-4);
}

.sm {
  --gap: var(--size-8);
  --padding-inline: var(--size-8);
  --height: 24px;

  .up,
  .down {
    height: var(--size-12);
  }

  .counter {
    font-size: var(--size-12--rem);
  }
}

.md {
  border: 1px solid;
  --gap: var(--size-16);
  --padding-inline: var(--size-12);
  --height: 32px;

  .up,
  .down {
    height: var(--size-16);
  }

  .counter {
    font-size: var(--size-16--rem);
  }
}

.button {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  background-color: unset;
  border: none;

  &:disabled {
    pointer-events: none;
  }
}

.up,
.down {
  fill: #8b96a7;
  transition: 0.2s fill ease-in-out;
}

.up {
  &:hover {
    fill: #63d4ab;
  }
}

.down {
  &:hover {
    fill: #f86868;
  }
}

.neutral {
  background-color: var(--color-vote-arrows-background--neutral);
  border-color: var(--color-vote-arrows-border--neutral);
}

.positive {
  background-color: var(--color-vote-arrows-background--positive);
  border-color: var(--color-vote-arrows-border--positive);

  .up {
    fill: #63d4ab;
  }
}

.negative {
  background-color: var(--color-vote-arrows-background--negative);
  border-color: var(--color-vote-arrows-border--negative);

  .down {
    fill: #f86868;
  }
}
