:root {
  --color-vote-arrows-background--neutral: #dde1e8;
  --color-vote-arrows-background--positive: #66d6ad1a;
  --color-vote-arrows-background--negative: #f769691a;

  --color-vote-arrows-border--neutral: #3d4759;
  --color-vote-arrows-border--positive: #65d6ad33;
  --color-vote-arrows-border--negative: #f86a6a33;

  &[data-theme='dark'] {
    --color-vote-arrows-background--neutral: #232a36;
  }
}

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sm {
  gap: var(--size-8);
  padding: var(--size-4) var(--size-8);

  .up,
  .down {
    height: var(--size-12);
  }
}

.sm,
.md {
  border-radius: var(--size-4);
}

.md {
  border: 1px solid;
}

.sm {
  .counter {
    font-size: var(--size-12--rem);
  }
}

.md {
  gap: var(--size-16);
  padding: var(--size-8) var(--size-12);

  .up,
  .down {
    height: var(--size-16);
  }

  .counter {
    font-size: var(--size-16--rem);
  }
}

.button {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  background-color: unset;
  border: none;

  &:disabled {
    pointer-events: none;
  }
}

.up,
.down {
  fill: #8b96a7;
  transition: 0.2s fill ease-in-out;
}

.up {
  &:hover {
    fill: #63d4ab;
  }
}

.down {
  &:hover {
    fill: #f86868;
  }
}

.neutral {
  background-color: var(--color-vote-arrows-background--neutral);
  border-color: var(--color-vote-arrows-border--neutral);
}

.positive {
  background-color: var(--color-vote-arrows-background--positive);
  border-color: var(--color-vote-arrows-border--positive);

  .up {
    fill: #63d4ab;
  }
}

.negative {
  background-color: var(--color-vote-arrows-background--negative);
  border-color: var(--color-vote-arrows-border--negative);

  .down {
    fill: #f86868;
  }
}
