.footer {
  height: inherit;

  &Stats {
    &Icon {
      display: unset;
      margin-right: var(--size-8);
    }

    &Text {
      vertical-align: middle;
    }

    &Tooltip {
      text-transform: initial;
    }
  }
}
