.tradeModal {
  &Dialog {
    position: absolute;

    background-color: var(--color-surface-primary);
    border-radius: 20px 20px 0px 0px;
  }

  &Content {
    padding: 0;
  }

  &Header {
    padding: 20px;

    &Title {
      font-size: 2rem;
      line-height: 1.3;
      font-weight: 700;
      color: var(--color-text-1);
    }

    button {
      right: 8px;
      top: 12px;
    }
  }
}
