.tradeModal {
  &Content {
    padding: 0;
  }

  &Header {
    padding: 20px;

    &Title {
      font-size: 2rem;
      line-height: 1.3;
      font-weight: 700;
      color: #f9fafb;
    }

    button {
      right: 8px;
      top: 12px;
    }
  }
}
