:root,
[data-theme='light'] {
  --color-text-primary: #313a4c;
  --color-text-seconday: #637084;
  --color-text-tertiary: #8293ae;
  --color-text-inverse: #ffffff;
}

@supports (--css: variables) {
  [data-theme='dark'] {
    --color-text-primary: #f9fafb;
    --color-text-seconday: #c5cad3;
    --color-text-tertiary: #637084;
    --color-text-inverse: #0e1016;
  }
}

$text-colors-map: (
  primary: var(--color-text-primary),
  secondary: var(--color-text-secondary),
  tertiary: var(--color-text-tertiary),
  inverse: var(--color-text-inverse)
);

@each $text-color, $text-color-value in $text-colors-map {
  .text-#{'' + $text-color} {
    color: $text-color-value;
  }

  .text-#{'' + $text-color}-on-hover {
    transition: 0.2s color ease-in-out;

    &:hover {
      color: $text-color-value;
    }
  }
}
