.root {
  margin-top: auto;
}

.container {
  text-align: center;
  border-top: 1px solid var(--color-border);
  padding: var(--size-12);
}

.gutter {
  &Top {
    padding-top: var(--grid-margin);
  }
}

.item {
  &Link {
    &Default {
      color: var(--color-text-1);
    }

    &Primary {
      color: #303596;
    }

    &Underline {
      text-decoration: underline;
    }
  }
}
