.root {
  margin-top: auto;
}

.container {
  text-align: center;
  border-top: 1px solid var(--color-border);
  padding: var(--size-12) 0;
}

.gutter {
  &Top {
    padding-top: var(--grid-margin);
  }
}
