.edge {
  &Start {
    margin-right: var(--size-12);
    margin-left: calc(-1 * #{var(--size-12)});
  }
  &End {
    margin-right: calc(-1 * #{var(--size-12)});
    margin-left: var(--size-12);
  }
}
