.root {
  display: flex;
  align-items: center;
  min-height: 36px;
  color: rgb(var(--channel) / 1);
  background-color: rgb(var(--channel) / var(--alpha));
}

.type {
  &Warning {
    --channel: 240 180 41;
  }
}

.variant {
  &Subtle {
    --alpha: 0.2;
  }
}
