:root {
  --color-background--rgb: var(--neutral-200--rgb);
  --color-text--rgb: var(--neutral-900--rgb);
  --color-neutral--rgb: var(--neutral-500--rgb);
  --color-surface--rgb: var(--neutral-100--rgb);

  --color-background-primary: rgb(
    var(--color-background--rgb) / var(--alpha-primary)
  );
  --color-background-secondary: rgb(
    var(--color-background--rgb) / var(--alpha-secondary)
  );
  --color-background-tertiary: rgb(
    var(--color-background--rgb) / var(--alpha-tertiary)
  );
  --color-background-quaternary: rgb(
    var(--color-background--rgb) / var(--alpha-quaternary)
  );
  --color-background-quinary: rgb(
    var(--color-background--rgb) / var(--alpha-quinary)
  );

  --color-surface-primary: rgb(
    var(--color-surface--rgb) / var(--alpha-primary)
  );
  --color-surface-secondary: rgb(
    var(--color-surface--rgb) / var(--alpha-secondary)
  );
  --color-surface-tertiary: rgb(
    var(--color-surface--rgb) / var(--alpha-tertiary)
  );

  --color-surface: var(--neutral-100);
  --color-border: var(--neutral-300);
  --color-shadow: rgb(var(--neutral-500--rgb) / var(--alpha-quinary));
  --color-text-primary: var(--neutral-700);
  --color-text-secondary: var(--neutral-500);
  --color-text-quaternary: rgb(
    var(--color-text--rgb) / var(--alpha-quaternary)
  );
  --color-text-quinary: rgb(var(--color-text--rgb) / var(--alpha-quinary));
  --color-neutral-primary: rgb(
    var(--color-neutral--rgb) / var(--alpha-primary)
  );
  --color-neutral-tertiary: rgb(
    var(--color-neutral--rgb) / var(--alpha-tertiary)
  );
  --color-vote-arrows-background--neutral: #dde1e8;
  --color-vote-arrows-background--positive: #66d6ad1a;
  --color-vote-arrows-background--negative: #f769691a;

  --color-vote-arrows-border--neutral: #3d4759;
  --color-vote-arrows-border--positive: #65d6ad33;
  --color-vote-arrows-border--negative: #f86a6a33;

  &.theme--dark {
    --color-background--rgb: var(--neutral-900--rgb);
    --color-text--rgb: var(--neutral-200--rgb);
    --color-surface--rgb: var(--neutral-850--rgb);

    --color-border: var(--neutral-800);
    --color-shadow: var(--color-background-quaternary);
    --color-text-primary: var(--neutral-100);
    --color-text-secondary: var(--neutral-600);
    --color-vote-arrows-background--neutral: #232a36;
  }

  --grid-margin: var(--size-12);
  --header-y: var(--size-60);

  @media (min-width: 1024px) {
    --grid-margin: var(--size-24);
    --header-y: var(--size-76);
  }
}
