:root {
  --neutral-900: #0e1016;
  --neutral-900--rgb: 14 16 22;
  --neutral-850: #191c26;
  --neutral-800: #252c3b;
  --neutral-700: #313a4c;
  --neutral-600: #637084;
  --neutral-500: #8193ae;
  --neutral-500--rgb: 127 146 173;
  --neutral-300: #e3e7f0;
  --neutral-200: #f8faff;
  --neutral-200--rgb: 248 250 255;
  --neutral-100: #ffffff;

  --alpha-primary: 1;
  --alpha-secondary: 0.88;
  --alpha-tertiary: 0.82;
  --alpha-quaternary: 0.4;
  --alpha-quinary: 0.16;

  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-12--rem: 1.2rem;
  --size-12pxInRem: 0.75rem;
  --size-16: 16px;
  --size-16--rem: 1.6rem;
  --size-16pxInRem: 1rem;
  --size-20: 20px;
  --size-24: 24px;
  --size-24pxInRem: 1.5rem;
  --size-28--rem: 2.8rem;
  --size-32: 32px;
  --size-32pxInRem: 2rem;
  --size-40: 40px;
  --size-40pxInRem: 2.5rem;
  --size-60: 60px;
  --size-64: 64px;
  --size-76: 76px;
}
