.mb-grid {
  margin-bottom: var(--grid-margin);
}

.pl-grid {
  padding-left: var(--grid-margin);
}

.pr-grid {
  padding-right: var(--grid-margin);
}

.p-grid {
  padding: var(--grid-margin);
}

.m-auto {
  margin-top: auto;
}

.o-hidden {
  overflow: hidden;
}

.o-hidden\! {
  overflow: hidden !important;
}

.h-100\% {
  height: 100%;
}

.w-100\% {
  width: 100%;
}

.d-flex {
  display: flex;
}

.ff-column {
  flex-flow: column nowrap;
}
