.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-8);

  padding: var(--size-16);

  &Avatar {
    display: flex;
    overflow: hidden;

    width: 40px;
    height: 40px;
    background-color: var(--color-tournament-avatar-background);
    border-radius: 20px;
  }

  &Image {
    width: 100%;
    height: auto;
  }

  &Initials {
    margin: auto;
  }

  &Description {
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}
