.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-8);

  padding: var(--size-16);

  &Description {
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}
