.root {
  background-color: unset !important;
  margin-left: auto;
}
.finger {
  height: 44px !important;
  width: 44px;
  padding: 0px !important;
}
.icon {
  fill: var(--color-text-secondary);
}
.dialog {
  border-radius: 20px 20px 0px 0px;
  background-color: var(--color-surface-primary);
  position: absolute;
  min-width: fit-content;

  @media (min-width: 1024px) {
    border-radius: 20px;
  }
}
.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid var(--color-border);

  &Title {
    margin-right: auto;
    color: var(--color-text-primary);
  }
}
.list {
  padding-left: 8px;
  padding-right: 8px;

  &Item {
    &:not(:first-of-type, :last-of-type) {
      margin-top: var(--size-4);
      margin-bottom: var(--size-4);
    }

    &Button {
      border-radius: 8px;
    }
  }
}
