body {
  font-size: 1.6rem;
  line-height: 1;
  background-color: var(--color-background-primary);
  font-family: 'Gilroy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
